.navbar {
    display: flex;
    height: 32px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #f2f2f2;
    padding: 10px 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 1s ease;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .navbar-item {
    cursor: pointer;
    width: auto;
    height: auto;
    margin:  0 4%;
    transition: all 1s ease;

  }
  .navbar-item:hover {
    display: block;
    cursor: pointer;
    width: auto;
    height: auto;
  }
  
  .navbar-logo {
    /* height: 40px; */
    cursor: pointer;
  }
  