/* install and use Bodoni Bebas Neue */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', serif;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  scrollbar-width: none;
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: auto;
  /* background-color: #ff7e46; */
  
}

.logo {
  /* display: flex; */
  width: 50px;
  height: 50px;
  z-index: 100;
  justify-content: center;
  align-items: flex-end;
  /* font-size: x-large; */
  cursor: pointer;
  margin-top: 2.5%;
}

.logo-bg {
  display: flex;
  max-width: 60px;
  height: 60px;
  z-index: 100;
  background-color: #232323;
}

.footer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #232323;
  top: 50%
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  z-index: 10;
  
}

.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: container;
}

.card {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 300px;
  object-fit: fill;

  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  background-color: #232323;
}

.card-btn {
  /* display: flex; */
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: #0905fff2;
  color: #f1f1f1;
  justify-content: center;
  align-items: center;
  /* font-size: x-large; */
  cursor: pointer;
  /* bottom: 0;
  top: 4px;
  right: 0; */
}

.icon {
  width: 18px;
  height: 18px;
  margin-top: 15px;
}

.card-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}


.card-title {
  text-align: left;
  letter-spacing: 1px;
  padding-left: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Ensure the overlay is above the image but below the content */
}

/* Quotes styling */
.card-quote {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  /* padding: 32px; */
  /* background-color: blue; */
}
.quote-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-weight: 600; */
  color: white;
  position: relative;
  letter-spacing: .2px;
  line-height: 1.2;

  padding: 8px 28px;
  margin-bottom: 28px;
}

.author-name {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 24px;
  letter-spacing: 2px;
}

.author-name a {
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 16px;
  margin: 0;
}

.credit-text {
  color: white;
  font-size: 10px;
  padding-left: 18px;
}

.card-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 16px; */
  /* background-color: blue; */
}

a {
  text-decoration: none;
  color: #ff7e46;
  line-height: normal;
  letter-spacing: .5px;
}

/* CAROUSEL SLIDESHOW */
.carousel-section {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  scrollbar-width: none;
  /* overflow: hidden; must not be addded to avaoid breaking the original size for carousel*/
  
  gap: 14px;
  align-items: center;
  justify-content: center;
  /* animation-play-state: paused; this restarts instead of continue after pause. might be used later maybe */
  animation: animateScroll 60s infinite linear;
  transition: all 0.6s ease-in;
}

.carousel-section:hover {
  animation-play-state: paused;
}

@-webkit-keyframes animateScroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes animateScroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
